In [1]:
import numpy as np #수치 계산
import pandas as pd #행, 열의 표와 같은 데이터 다루기
import matplotlib.pyplot as plt #그래프를 통한 시각화
import seaborn as sns

In [3]:
sb = pd.read_excel('./data/drinks.xlsx')
sb

,분류코드,분류명,SKU번호,SKU명,전체,0:00~,1:00~,2:00~,3:00~,4:00~,...,14:00~,15:00~,16:00~,17:00~,18:00~,19:00~,20:00~,21:00~,22:00~,23:00~
0,400110010.0,Total Drip Coffee Category,1,(S)오늘의 커피,6,0,0,0,0,0,...,2,0,0,0,1,0,0,0,0,0
1,NaN,NaN,106509,(T)아이스 커피,8,0,0,0,0,0,...,1,1,0,1,0,1,0,0,0,0
2,NaN,NaN,106510,(G)아이스 커피,6,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
3,NaN,NaN,106511,(V)아이스 커피,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,2,(T)오늘의 커피,7,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,NaN,NaN,9900000000057,(7oz)아이스 컵(얼음없이),1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
226,NaN,NaN,9900000000432,머그컵,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
227,NaN,NaN,9900000000491,머그컵+얼음,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
228,NaN,NaN,,소 계,4,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
229,NaN,NaN,,총 합 계,991,0,0,0,0,0,...,91,62,54,44,58,43,13,13,0,0